
.projects-container {
    display: flex;
    flex-direction: column;
  }
  .tech-stack {
    font-weight: 600;
    color: var(--color-secondary-white);
}
  .project-item-container {
    display: flex;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
  }
  @media screen and (max-width: 720px){
    .project-item-container {
        grid-template-columns: repeat(1, 1fr);
    }
  }