@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #10151A;
  --color-white: rgba(255, 255, 255, 255);
  --color-secondary-white: #f1f1f1;
  --color-footer-white: #eaeaea;
  --color-background: rgb(250, 63, 130);
  --background-gradient: linear-gradient(88deg, rgba(250, 63, 130, 1) 0%, rgba(200, 61, 245, 0.7) 46.17%, rgba(80, 53, 220, 1) 100%);
  --font-nav-content: 1.12rem;
  --font-footer-content: 0.8rem;
  --font-hero-desc-name: 1rem;
  --font-btn: 1.225rem;
  --font-btn-sm: 1rem;
  --font-section-heading: 1.95rem;
  --color-btns: #2e2e30;
  --project-desc-font-color: #cecece;
  --project-desc-font-size: 1rem;
  --color-link-btns: #545252;
  --color-project-item: #232323;
  --color-item-content: #E3E0E0;

  --container-width-lg: 60%;
  --container-width-md: 82%;
  --container-width-sm: 86%;
  --container-width-xsm: 95%;
  --container-width-nav-menu-lg: 50%;
  --container-width-nav-menu-md: 55%;
  --project-desc-width-lg: 75%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family:'Inter', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
}
header, section, footer {
   display: flex;
   justify-content: center;
   padding: 2.5rem 0rem;
}
.nav-ele-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0rem;
    /* padding-top: 10rem; */
    height: 100%;
}
.header-section, .footer-section {
  padding: 2.5rem 0rem;
  position: relative;
}

.container {
  width: var(--container-width-lg);
}
a.menu-content {
  color: var(--color-white);
}
.btn {
    /* background: transparent; */
    color: var(--color-white);
    font-size: var(--font-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7125rem;
    padding: 0.6rem 0.9rem;

}
.section-heading-underline {
  background: var(--background-gradient);
  height: 0.5rem;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  width: 60%;
}
.section-heading {
  font-size: var(--font-section-heading);
  margin-bottom: 0.11rem;
}
button {
  border: none;
  background: transparent;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-btns);
  color: white;
  padding: 1rem;
  font-size: var(--font-btn);
  border-radius: 50px;
}
.active-button {
  margin-right: 1rem;
  background: var(--background-gradient);
}
.active-text {
  background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-set {
  display: flex;
}
/* .see-all-btn {
  background-color: var(--color-btns);
  width: 11%;
  padding: 0.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 2.5rem 0rem;
} */
p.project-desc {
  /* width: var(--project-desc-width-lg); */
  color: var(--project-desc-font-color);
  font-size: var(--project-desc-font-size);
}
a.project-btns {
  color: white;
  background-color: var(--color-link-btns);
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  /* margin-right: 1rem; */
}
.links-btn-container {
  display: flex;
  justify-content: space-between;
  width: var;
  align-items: center;
  /* width: var(--project-desc-width-lg); */
}
.project-item {
  border-radius: 0.5rem;
  margin-right: 10px;
  padding: 1.3rem;
  background-color: var(--color-project-item);
}
.margin-style{
  margin-bottom: 0.6rem;
  width: 100%
}
.experience-img {
  height: 50px;
  width: 50px;
}
.experience-item {
  /* display: flex; */
  margin-bottom: 2.5rem;
}
.image-container {
  margin-right: 1.5rem;
}
h4.item-margin {
  margin-bottom: 0.4rem;
  color: var(--color-item-content);
}
p.item-desc {
  color: var(--color-white);
  font-size: var(--project-desc-font-size);
}
.experience-item-container {
  background-color: var(--color-project-item);
  padding: 2rem;
  border-radius: 0.5rem;
}
.experience-item-content-container {
  display: flex;
  margin-bottom: 2rem;
}
hr.hr-line {
  height: 1px;
  /* border-color: white; */
  background-color: var(--color-link-btns);
  width: 100%;
  /* margin-top: 0.8rem; */
}
textarea {
  background-color: var(--color-link-btns);
  border-radius: 0.3rem;
  margin-bottom: 1.3rem;
  width: 100%;
}
input.input-style {
  background-color: var(--color-link-btns);
  border-radius: 0.3rem;
  height: 50px;
  margin-bottom: 1.3rem;
  width: 100%;
}
.icon-container {
  display: flex;
  justify-content: center;
}

.send-btn {
  background: var(--background-gradient);
  font-size: 26px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  padding: 0.9rem;
  margin-bottom: 1.3rem;
}
.contact-section {
  background-color: var(--color-project-item);
  border-radius: 0.3rem;
  padding: 2.5rem;
}

@media screen and (max-width:1140px){
  .container{
    width: var(--container-width-md);
  }
}
@media screen and (max-width:960px){
  .container{
    width: var(--container-width-sm);
  }
}
@media screen and (max-width:720px){
  .container{
    width: var(--container-width-md);
  }
}